body {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  font-family: Roboto, arial, sans-serif;
}

ul {
  list-style-type: none;
}

#acct-sign-in {
  color: #fff;
  background-color: #2b7de9;
  margin-right: 8px;
}

#acct-sign-in:hover {
  background-color: #4082e4;
}

button {
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
}

.google-app-div img {
  width: 3rem;
}

#google-apps-list {
  display: none;
}

main {
  margin: auto;
  padding-top: 5.5%;
  width: 50%;
  text-align: center;
}

form {
  padding: 20px;
}

#google-searchbar {
  border: 1px solid #dfe1e5;
  border-radius: 30px;
  height: 44px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px 8px 0px 14px;
  width: 100%;
  max-width: 584px;
  z-index: 3;
}

#google-searchbar input {
  padding-left: 10px;
  float: left;
  border: 0px none;
  margin: auto;
  font-size: 16px;
  width: 80%;
}

#google-searchbar input:focus {
  outline: none;
}

#google-searchbar:hover {
  box-shadow: 1px 0px 5px lightgray;
}

#google-search-buttons button:hover {
  box-shadow: 0px 0px 2px #a8a8a8;
}

.inner {
  padding-top: 7.5px;
  padding-bottom: 12.5px;
}

#glass {
  float: left;
  width: 1.25rem;
}

#mic {
  float: right;
  width: 1.5rem;
}

.search-icon {
}

#google-search-buttons {
  padding-top: 18px;
}

#congrats {
  display: block;
}

footer {
  background-color: #f2f2f2;
  height: 28px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

footer ul {
  margin-top: 0;
}

li {
  display: inline-block;
  vertical-align: center;
}

a {
  text-decoration: none;
  color: #70757a;
}

a:hover {
  text-decoration: underline;
}

a:link footer ul {
  height: 28px;
  margin: 0;
}

#google-nav-footer-left {
  padding-left: 0;
}

#center {
  padding-left: 13%;
  height: 18.4px;
}

#center img {
  height: 17.6px;
}

.left,
.right {
  padding-right: 50px;
}

.right {
  float: right;
}

#set {
  padding-right: 32px;
}

#ad {
  padding-left: 32px;
}
